section {
    background: #000;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2, p {
    color: #fff;
}

span {
    color: #e1ff00;
}

a {
    text-decoration: none;
    color: black;
    background: #e1ff00;
    padding: 5px;
    display: inline-block;
}