#background {
    height: 100vh;
    width: 50vw;
    background-image: url(floresta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#background h1 {
    margin: auto;
}